<mat-toolbar color="">
    <div class="app__menu" >
        <div class="menu__logo">
            <button mat-icon-button color="primary" aria-label="menu icon" (click)="element.toggle()" ><mat-icon>menu</mat-icon></button>
            <span>tuFilms</span>
        </div>
        <div class="menu__user">
            <button mat-icon-button color="primary" aria-label="menu user" [matMenuTriggerFor]="userMenu" ><mat-icon>person</mat-icon></button>
        </div>
    </div>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item>Perfil</button>
    <button mat-menu-item>Cerrar Sesión</button>
</mat-menu>
