/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Icons APP  */
.app__icon {
    padding: 0 14px;
}

.app__spacer {
    flex: 1 1 auto;
}

/* Menu APP  */
.app__menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    align-items: center;
}

.menu__logo-img {
    height: 35px;
}